{% extends "base.html" %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Welcome</h1>
                            <a href="/posts/" class="btn btn-outline btn-xl page-scroll">View Posts</a>
                            <br><br><br>
                            List of urls:
                            <ul>
                                <li>/admin</li>
                                <li>/posts/</li>
                                <li>/posts/id</li>
                                <li>/posts/create</li>
                                <li>/user/register/</li>
                                <li>/user/login/</li>
                                <li>/user/logout/</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock content %}