
<nav class="navbar navbar-default navbar-fixed-top">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {% if user.is_authenticated %}

        <div class="dropdown navbar-text">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" style="color:FFFFFF;">
                    {{ user.username }}
                <span class="caret"></span>
            </button>
              <ul class="dropdown-menu">
                <li><a href="/posts/create">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/user/logout">Logout</a></li>
              </ul>
        </div>

        {% else %}

        <div class="dropdown navbar-text">
            <a class="dropdown btn btn-primary" style="color:FFFFFF;" href="/user/login"> Login </a>
        </div>

        {% endif %}

        <div class="navbar-text">
            <a class="btn btn-primary" style="color:#FFFFFF;" href="/posts/">Home </a>
        </div>


    </div>

</nav>
