{% extends "base.html" %}

{% block head.title %} {{ post.title }} | {{ block.super }} {% endblock head.title %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
    <div>
        <h1>{{ post.title }} <small>{{ post.created }}</small> </h1>
        <br><hr>
        {{ post.content | linebreaks}}
        <br><br>
        Updated at: {{ post.updated }}<br>

    </div>
    <br><hr>
    <a class="btn btn-default" href="/posts/{{ post.id }}/edit"> Edit </a>
    <a class="btn btn-default" href="/posts/{{ post.id }}/delete"> Delete </a>

</div>


{% endblock content %}