{% extends "base.html" %}

{% block content %}

<div class="col-sm-8 col-sm-offset-2">
    <div class="row">
        <br><br>
        <form method="get" action="">
            <input type="text" name="q" placeholder="Search Blog" value="{{ request.GET.q }}">
            <input type="submit" value="Search">
        </form>
        <br><br>
        {% for post in post_list %}
        <div class="col-sm-12 ">

                <div class="thumbnail">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-responsive"/>
                    {% endif %}
                    <div class="caption">
                        <h3>{{ post.title }} <small>{{ post.created | timesince }} ago</small> </h3>
                        {% if post.user.get_full_name %}
                        <p>Author: {{ post.user.get_full_name }}</p>
                        {% endif %}
                        <p>{{ post.content | linebreaks | truncatechars:150 }}</p>
                        <p>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">Read</a>
                        </p>
                    </div>
                </div>
            </div>

        <!-- After every two loops this div is added-->
        {% cycle "" "</div><div class='row'>" %}
        {% endfor %}

        <hr>
        <div class="pagination">
            <span class="step-links">
                {% if post_list.has_previous %}
                    <a href="?{{ page_request_var}}={{ post_list.previous_page_number }}
                    {% if request.GET.q  %}& q={{ request.GET.q }}{% endif %}">
                        previous
                    </a>
                {% endif %}

                <span class="current">
                    Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                </span>

                {% if post_list.has_next %}
                    <a href="?{{ page_request_var}}={{ post_list.next_page_number }}
                    {% if request.GET.q  %}& q={{ request.GET.q }}{% endif %}">
                        next
                    </a>
                {% endif %}
            </span>
        </div>
    </div>

</div>
{% endblock content %}