{% load staticfiles %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text()
            console.log(content)
            var markedContent = marked(content)
            console.log(markedContent)
            $(this).html(markedContent)
        })
    })

    $(document).ready(function(){
        $(".content-markdown img").each(function(){
            $(this).addClass("img-responsive")
        })
    })

    var titleInput = $('#id_title')
    var contentInput = $('#id_content')

    function setContent(value){
        $('#preview-content').html(marked(value))
        $('#preview-content img').each(function(){
            $(this).addClass('img-responsive')
        })
    }
    setContent(contentInput.val())
    contentInput.keyup(function(){
        setContent($(this).val())
    })

    function setTitle(value){
        $('#preview-title').html(marked(value))
    }
    setTitle(titleInput.val())
    titleInput.keyup(function(){
        setTitle($(this).val())
    })

</script>
