{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head.title %} {{ title }} | {{ block.super }} {% endblock head.title %}

{% block content %}
<div class="col-sm-3 col-sm-offset-4">

    <h2 style="color:blue;">{{ title }}</h2>
    <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

        {{ form | crispy }}
        <input type='submit' class='btn btn-primary' value='{{ title }}' />
    </form>

    <div class="row">
        <div class="col-md-6 ">
            {% if title == 'Login' %}
            <a href="/user/register/">Not registered ?</a>
            {% else %}
            <a href="/user/login/">Already registered ?</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <a href="/">Go Back</a>
        </div>
    </div>

    <br><br><br><br>
</div>
{% endblock content %}